---
- name: Устанавливаем необходимые пакеты
  apt:
    name:
      - wget
      - tar
    state: present
    update_cache: yes

- name: Создаем пользователя Prometheus
  user:
    name: "{{ prometheus_user }}"
    shell: /sbin/nologin
    system: yes
    create_home: no

- name: Создаем директорию Prometheus
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ prometheus_user }}"
    group: "{{ prometheus_user }}"
    mode: '0755'
  loop:
    - "{{ prometheus_dir }}"
    - "{{ prometheus_data_dir }}"

- name: Скачиваем архив Prometheus
  get_url:
    url: "{{ prometheus_download_url }}"
    dest: /tmp/prometheus.tar.gz

- name: Извлекаем бинарник Prometheus
  unarchive:
    src: /tmp/prometheus.tar.gz
    dest: /tmp
    remote_src: yes

- name: Копируем бинарный файл Prometheus
  copy:
    src: "/tmp/prometheus-{{ prometheus_version }}.linux-amd64/{{ item }}"
    dest: "/usr/local/bin/{{ item }}"
    mode: '0755'
    remote_src: yes
  loop:
    - prometheus
    - promtool

- name: Копируем рабочие файлы Prometheus
  copy:
    src: "/tmp/prometheus-{{ prometheus_version }}.linux-amd64/{{ item }}"
    dest: "{{ prometheus_dir }}/{{ item }}"
    remote_src: yes
    owner: "{{ prometheus_user }}"
    group: "{{ prometheus_user }}"
  loop:
    - consoles
    - console_libraries

- name: Deploy Prometheus main config
  copy:
    src: "{{ playbook_dir }}/conf/{{ prometheus_config }}"
    dest: "{{ prometheus_dir  }}/{{ prometheus_config }}"
    owner: "{{ prometheus_user }}"
    group: "{{ prometheus_user }}"
    mode: '0644'
  notify: Restart prometheus

- name: Create systemd unit file for Prometheus
  copy:
    dest: /etc/systemd/system/prometheus.service
    mode: '0644'
    content: |
      [Unit]
      Description=Prometheus Monitoring
      Wants=network-online.target
      After=network-online.target

      [Service]
      User={{ prometheus_user }}
      Group={{ prometheus_user }}
      Type=simple
      ExecStart=/usr/local/bin/prometheus \
        --config.file={{ prometheus_dir }}/prometheus.yml \
        --storage.tsdb.path={{ prometheus_data_dir }} \
        --web.console.templates={{ prometheus_dir }}/consoles \
        --web.console.libraries={{ prometheus_dir }}/console_libraries

      [Install]
      WantedBy=multi-user.target

- name: Reload systemd daemon
  systemd:
    daemon_reload: yes

- name: Enable and start Prometheus service
  systemd:
    name: prometheus
    enabled: yes
    state: started