---
# Установка и настройка Elasticsearch

- name: Установить зависимости для apt
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - openjdk-17-jdk
      - wget
      - gnupg
    state: present
    update_cache: yes

# - name: Добавить GPG ключ Elasticsearch
#   ansible.builtin.apt_key:
#     url: https://artifacts.elastic.co/GPG-KEY-elasticsearch
#     state: present

# - name: Добавить репозиторий Elasticsearch
#   ansible.builtin.apt_repository:
#     repo: "deb https://artifacts.elastic.co/packages/8.x/apt stable main"
#     state: present

# - name: Обновить apt cache
#   ansible.builtin.apt:
#     update_cache: yes

- name: Скопировать локальный пакет Elasticsearch на сервер
  ansible.builtin.copy:
    src: elasticsearch-9.2.0-amd64.deb
    dest: /tmp/elasticsearch-9.2.0-amd64.deb
    mode: '0644'

- name: Установить Elasticsearch через dpkg
  ansible.builtin.apt:
    deb: /tmp/elasticsearch-9.2.0-amd64.deb
    state: present

# - name: Установить Elasticsearch
#   ansible.builtin.apt:
#     name: elasticsearch
#     state: present

- name: Создать пользователя elasticsearch (если не создан)
  ansible.builtin.user:
    name: elasticsearch
    shell: /sbin/nologin
    system: yes
    create_home: no

- name: Настроить elasticsearch.yml
  ansible.builtin.template:
    src: elasticsearch.yml.j2
    dest: /etc/elasticsearch/elasticsearch.yml
    owner: elasticsearch
    group: elasticsearch
    mode: '0644'
  notify: Restart Elasticsearch

- name: Включить и запустить Elasticsearch
  ansible.builtin.systemd:
    name: elasticsearch
    state: started
    enabled: yes
